<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--Poppins  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<body>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active logo" id="pic-1"><img
                                    src="assets/images/Spring-Boot-and-Microservices.jpg" />
                            </div>
                        </div>
                        <div class="footer">
                            <p class="footer-text"> Let us help you study your requirement by emailing us the tech
                                stack in the below link:&nbsp;
                                <a href="mailto:Java_COE_Team@kgisl.com" class="transition">Team JavaCOE</a>
                            </p>

                        </div>
                    </div>
                    <div class="details col-md-4">
                        <h3 class="project-title">Microservice with CRUD</h3>
                        <h4 class="project-url">GIT URL <i class="fa fa-github-square" aria-hidden="true"></i>:<a
                                class="url" href="https://github.com/KGiSL2023/SpringBoot-jdk1.8-jdbc">click
                                here</a></h4>
                        <p class="techstack-Header"><b>Tech-Stacks :</b></p>
                        <ul class="techstack-details">
                            <li>Java Version: 8</li>
                            <li>Spring Boot Architechture - sts4.2.0</li>
                            <li>Microservices Concept</li>
                            <li>Eureka Concept</li>
                            <li>Oracle Database</li>
                        </ul>
                        <p class="techstack-Header"><b>Project Description :</b></p>
                        <p class="project-description">Building a CRUD process project based on microservices
                            involves designing services that handle CRUD operations independently while working
                            together to create a seamless user experience. Each microservice focuses on its own
                            domain, making the system modular, scalable, and maintainable. Proper architecture,
                            development, and deployment practices are essential for a successful microservices-based
                            CRUD project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>