<!-- Poppins -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<!-- <h2>Welcome</h2> -->
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light" style="padding-right: 1rem">
    <span class="p-0 mx-auto" >
        <p class="header-team"><b>KGiSL - Java COE</b></p>
    </span>
</nav>
<!-- Bottom footer -->
<div class="page-wrapper">
    <div class="bottom section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="email-link">
                        <p> Let us help you study your requirement by emailing us the tech stack in the
                            below link</p>
                        <a href="mailto:Java_COE_Team@kgisl.com" class="transition">Team JavaCOE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>