body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
    background-color: #eee;
  }
  
a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 60px 0;
}
.bottom {
    background-color: #0a1c2e;
    /* background-color: #1e2229; */
}
.bottom .email-link {
    color: #e03030;
    font-weight: 600;
}
.email-link a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
    
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    /* font-size: 20px; */
    /* font-weight: 400; */
}

.bottom {
    padding: 40px;
    
  }

.bottom .email-link p, .bottom .email-link a:hover{
    color: #6c8373;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh; 
    /* font-family: 'Poppins', sans-serif; */
}

.bottom {
    margin-top: auto; 
}
.h2{
 font-family: 'Poppins', sans-serif;
}
.p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.header-team{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding-top: 10px;
    /* padding-left: 500px; */
  }